@tailwind base;
@tailwind components;
@tailwind utilities;

section.regular-width {
	width: 80%;
	margin: auto;
}

section.big-width {
    width: 100%
}

@media (min-width: 750px) {
	section.regular-width {
		width: 60%;
		margin: auto;
	}

    section.big-width {
        width: 80%;
        margin: auto;
    }
}
